.credit-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100vw - 6rem);
    height: calc(68vw - 6rem);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: inherit;
    background: linear-gradient(119deg, rgba(91, 203, 233, 1) 0%, rgba(117, 136, 235, 1) 28%, rgba(186, 111, 240, 1) 49%, rgba(228, 111, 240, 1) 64%, rgba(240, 111, 141, 1) 82%, rgba(217, 178, 114, 1) 100%);
    text-align: center;

    &__heading {
        font-size: 1.5rem;
        color: #eee;
        font-weight: normal;
    }

    &__balance {
        color: #eee;
        font-size: 4rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__icon-box {
        width: 3rem;
        height: 3rem;
        background-color: rgba(100, 100, 100, 0.25);
        border-radius: 50%;
    }

    &__icon {
        font-size: 3rem;
    }

    &__income-box {
        display: flex;
        gap: 1rem;
        color: #fff;
        font-size: 1.2rem;
        align-items: center;
    }

    &__text-box {
        text-align: left;
    }

    &__type {
        color: #ded;
    }

    &__money {
        font-size: 1.8rem;
        margin-top: 5px;
    }
}