.expense {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #fff;
    margin: 2rem 0;
    border-radius: inherit;
    padding: 1.8rem 2rem;

    &__type {
        display: flex;
        align-items: center;
        gap: 1.4rem;
    }

    &__icon-box {
        position: relative;
        width: 5.5rem;
        height: 5.5rem;
        background: linear-gradient(63deg, rgb(34, 193, 195) 0%, rgb(164, 253, 45) 100%);
        border-radius: 50%;

        &--expense {
            background: linear-gradient(338deg, rgb(121, 55, 55) 0%, rgb(121, 35, 9) 39%, rgb(255, 0, 0) 100%);
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5.8rem;
        color: #fff;
    }

    &__name {
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: bolder;
        color: rgb(42, 43, 58);
    }

    &__info {
        font-size: 1.6rem;
    }

    &__date {
        font-size: 1.4rem;
        color: #999;
        text-transform: capitalize;
        margin-top: 0.6rem;
    }
}