.overview {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 960px) {
        flex-direction: row;
    }

    &__cta {
        @media only screen and (min-width: 960px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            width: 60%;
        }
    }
}