.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__icon-box {
        width: 5rem;
        height: 5rem;
        background-color: #eee;
        border-radius: 7px;
        position: relative;
        cursor: pointer;

        @media only screen and (min-width: 1200px) {
            width: 6rem;
            height: 6rem;
        }
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        color: rgb(196, 36, 175);

        @media only screen and (min-width: 1200px) {
            width: 3rem;
            height: 3rem;
        }
    }

    &__heading {
        margin-right: auto;
        margin-left: 2rem;
        color: #454251;
    }
}