.header {
    display: flex;
    justify-content: space-between;

    &__user {
        display: flex;
        gap: 1rem;
    }

    &__img-box {
        border-radius: 50%;
        background-color: #e3c621;
        height: 2.4rem;
        width: 2.4rem;
    }

    &__welcome {
        font-size: 1rem;
        color: #33353c;
    }

    &__username {
        font-size: 1.2rem;
        font-weight: bold;
        color: #33353c;
    }

    &__icon-box {
        width: 2rem;
        height: 2rem;
        background-color: #fee;
        position: relative;
        border-radius: 6px;
    }

    &__icon {
        height: 1rem;
        width: 1rem;
        background-color: #ddd;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}