.add-expense {

    &__heading {
        margin-top: 6rem;
        font-size: 1.8rem;
        text-align: center;
        color: #555;
    }

    ::-webkit-calendar-picker-indicator {
        background: linear-gradient(149deg, rgba(91, 203, 233, 1) 0%, rgba(107, 160, 221, 1) 20%, rgba(117, 136, 235, 1) 31%, rgba(154, 91, 199, 1) 42%, rgba(228, 111, 240, 1) 69%, rgba(240, 111, 141, 1) 82%, rgba(217, 178, 114, 1) 100%);
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    &__exit {
        position: absolute;
        right: 5vw;
        top: 5vw;
        font-size: 1.6rem;
        color: #777;
    }
}