.chart-heading {
    text-align: center;
    transform: translateY(-3rem);

    &__date {
        font-size: 1.4rem;
        color: #5668a3;
    }

    &__amount {
        margin-top: 1rem;
        font-size: 1.8rem;
        color: #3a5098;
    }
}