.chart-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
        height: 100%;
        width: 7px;
        border-radius: 1.2rem;
        background-color: #ccc;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__fill {
        background: linear-gradient(118deg, rgba(91, 203, 233, 1) 0%, rgba(107, 160, 221, 1) 20%, rgba(117, 136, 235, 1) 31%, rgba(154, 91, 199, 1) 42%, rgba(228, 111, 240, 1) 69%, rgba(240, 111, 141, 1) 82%, rgba(217, 178, 114, 1) 100%);
        width: 100%;
        transition: all 0.3s ease-out;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
    }

    &__label {
        font-weight: bold;
        font-size: 0.5rem;
        text-align: center;
    }
}